<!--(c) adarsh-goel-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://adarsh-goel.github.io/resources/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>

</head>

<body>
    <header>
        <div class="toogle"></div>
        <div id="file-name">
           <marquee direction="left">%s</marquee>
        </div>
    </header>

    <div class="container">
        <video src="%s" class="player"></video>
    </div>

    <div class="text-center text-white">
        <a class="rounded p-3 bg-indigo-500 hover:bg-indigo-700 shadow-lg{% if block_downloads %} cursor-not-allowed disabled{% else %}" download="{{name}}{% endif %}" href="http://potterstreaming-upsclover843.koyeb.app/AgADQQ150}">Play Now on MX Player Free!</a>
    </div>

    <div class="text-center text-white">
        <footer>
            <h4><a href="tg://resolve?domain=potter_help_bot" style="color:blue">Make your own Link &emsp; &emsp;</a></h4>
            <span id="fork-text">Fork me on</span>
            <span>
                <a href="https://telegram.me/potter_help_bot" id='github-logo'>
                    <svg id='octo' style="width: 1.2rem; padding-left: 5px; fill: var(--footer-icon-color)" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237
